#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box{
    width:50px;
    border:1px solid white;
    margin:10px;
    padding:20px;
    border-radius:18px;
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
}

#red{
    background: red;
}

#blue{
    background: blue;
}

#green{
    background: green;
}

#orange{
    background: orange;
}

#pink{
    background: pink;
}
